div.composer-fields{
    .headline{
    font-size: var(--font-up-5);
    color: var(--primary);
    

 }
}
div.title-and-category{
    h3{
        font-size: var(--font-up-1);
        color: var(--primary);
       
    }
    

}
